$black: #19191D;
$white: #FFFFFF;
$dark-gray: #787885;
$light-gray: #B8B8CC;
$very-light-gray: #F1F0F5;
$red: #FF0741;
$blue: #5236FF;
$green: #37833B;
$light-green:#EBF7ED;
$vinous: #C23564;
$light-vinous: #FDEDF2;
$orange: #E08701;
$light-orange: #FFF5E5;






// $mobile-width: 320px;
// $tablet-width: 768px;
// $desktop-width: 1150px;
