include footer-navigation-mixin

h4.service-navigation-list__title О компании
ul.service-navigation__list.about-company
  +footerNavigationItem('О нас', '#')
  +footerNavigationItem('Контакты', '#')
  +footerNavigationItem('Вакансии', '#')
  +footerNavigationItem('Реквизиты', '#')
  +footerNavigationItem('Новости', '#')

