include footer-navigation-mixin

h4.service-navigation-list__title Сотрудничество
ul.service-navigation__list.cooperation
  +footerNavigationItem('Продавайте на Market', '#')
  +footerNavigationItem('Перевозчикам', '#')
  +footerNavigationItem('Пункты выдачи', '#')
  +footerNavigationItem('Реферальная программа', '#')
  +footerNavigationItem('Постаматы', '#')
  +footerNavigationItem('Коммит в ветке мейн', '#')

