.page-footer__socials.socials
  p.socials__title Мы в соцсетях
    ul.socials__list
      li.socials__item
        a.socials__reference
        span.visually-hidden Twitter
        img.socials__img(src="img/icons/twitter.svg" width="30px" height="30px" alt="Twitter")
      li.socials__item
        a.socials__reference
        span.visually-hidden Facebook
        img.socials__img(src="img/icons/facebook.svg" width="30px" height="30px" alt="Facebook")
      li.socials__item
        a.socials__reference
        span.visually-hidden VK
        img.socials__img(src="img/icons/vk.svg" width="30px" height="30px" alt="VK")
      li.socials__item
        a.socials__reference
        span.visually-hidden Instagram
        img.socials__img(src="img/icons/instagram.svg" width="30px" height="30px" alt="Instagram")
