include footer-navigation-mixin

h4.service-navigation-list__title Правовая информация
ul.service-navigation__list.Legal-information
  +footerNavigationItem('Условия использования сайта', '#')
  +footerNavigationItem('Политика обработки персональных данных', '#')
  +footerNavigationItem('Условия заказа и доставки', '#')

