.page-footer__payment-list.payment-list
  .payment-list__title Способы оплаты
  ul.payment-list__cards
    li.payment-list__item
      a.payment-list__reference
        span.visually-hidden Visa
        img.payment-list__img(src="img/icons/visa.svg" width="34px" height="24px" alt="visa")
    li.payment-list__item
      a.payment-list__reference
        span.visually-hidden mastercard
        img.payment-list__img(src="img/icons/mastercard.svg" width="34px" height="24px" alt="mastercard")
    li.payment-list__item
      a.payment-list__reference
        span.visually-hidden ApplePay
        img.payment-list__img(src="img/icons/applepay.svg" width="34px" height="24px" alt="Apple Pay")
    li.payment-list__item
      a.payment-list__reference
        span.visually-hidden GooglePay
        img.payment-list__img(src="img/icons/googlepay.svg" width="34px" height="24px" alt="GooglePay")
    li.payment-list__item
      a.payment-list__reference
        span.visually-hidden Yandex
        img.payment-list__img(src="img/icons/yandex.svg" width="34px" height="24px" alt="Yandex")
