include footer-navigation-mixin

h4.service-navigation-list__title Покупателям
ul.service-navigation__list.for-buyers
  +footerNavigationItem('Служба поддержки', '#')
  +footerNavigationItem('Оплата и доставка', '#')
  +footerNavigationItem('Возврат и обмен', '#')
  +footerNavigationItem('Рассрочка', '#')
  +footerNavigationItem('Акции', '#')

