footer.page-footer.container
  .page-footer__row
    .page-footer__column
      include footer/footer-about-company
    .page-footer__column
      include footer/footer-for-buyers
    .page-footer__column
      include footer/footer-cooperation
    .page-footer__column.law
      include footer/footer-Legal-information
    .page-footer__column.page-footer__column--last
      include footer/footer-payment-list
      include footer/footer-socials
  .page-footer__row
    hr.footer-hr
  .page-footer__row.top-line
    p.footer__rights OOO «Маркет» © 2021 Все права защищены

