footer.page-footer.container
  .page-footer__row
    .page-footer__column
      ul.service-navigation-list.about-company О компании
        li.service-navigation__item
          a.service-navigation__reference(href='#') О нас
        li.service-navigation__item
          a.service-navigation__reference(href='#') Контакты
        li.service-navigation__item
          a.service-navigation__reference(href='#') Вакансии
        li.service-navigation__item
          a.service-navigation__reference(href='#') Реквизиты
        li.service-navigation__item
          a.service-navigation__reference Новости
    .page-footer__column
      ul.service-navigation-list.for-buyers Покупателям
        li.service-navigation__item
          a.service-navigation__reference(href='#') Служба поддержки
        li.service-navigation__item
          a.service-navigation__reference(href='#') Оплата и доставка
        li.service-navigation__item
          a.service-navigation__reference(href='#') Возврат и обмен
        li.service-navigation__item
          a.service-navigation__reference(href='#') Рассрочка
        li.service-navigation__item
          a.service-navigation__reference(href='#') Акции
    .page-footer__column
      ul.service-navigation-list.cooperation Сотрудничество
        li.service-navigation__item
          a.service-navigation__reference(href='#') Продавайте на Market
        li.service-navigation__item
          a.service-navigation__reference(href='#') Перевозчикам
        li.service-navigation__item
          a.service-navigation__reference(href='#') Пункты выдачи
        li.service-navigation__item
          a.service-navigation__reference(href='#') Реферальная программа
        li.service-navigation__item
          a.service-navigation__reference(href='#') Постаматы
    .page-footer__column.law
      ul.service-navigation-list.Legal-information Правовая информация
        li.service-navigation__item
          a.service-navigation__reference(href='#') Условия использования сайта
        li.service-navigation__item
          a.service-navigation__reference(href='#') Политика обработки персональных данных
        li.service-navigation__item
          a.service-navigation__reference(href='#') Условия заказа и доставки
    .page-footer__column
      .page-footer__payment-list.payment-list
        .payment-list__title Способы оплаты
        ul.payment-list__cards
          li.payment-list__item
            a.payment-list__reference
              span.visually-hidden Visa
              img.payment-list__img(src="" width="34px" height="24px" alt="visa")
          li.payment-list__item
            a.payment-list__reference
              span.visually-hidden mastercard
              img.payment-list__img(src="" width="34px" height="24px" alt="mastercard")
          li.payment-list__item
            a.payment-list__reference
              span.visually-hidden ApplePay
              img.payment-list__img(src="" width="34px" height="24px" alt="ApplePay")
          li.payment-list__item
            a.payment-list__reference
              span.visually-hidden GooglePay
              img.payment-list__img(src="" width="34px" height="24px" alt="GooglePay")
          li.payment-list__item
            a.payment-list__reference
              span.visually-hidden Yandex
              img.payment-list__img(src="" width="34px" height="24px" alt="Yandex")
      .page-footer__socials.socials
        .socials__title Мы в соцсетях
          ul.socials__list
            li.socials__item
              a.socials__reference
              span.visually-hidden Twitter
              img.socials__img(src="" width="30px" height="30px" alt="Twitter")
            li.socials__item
              a.socials__reference
              span.visually-hidden Facebook
              img.socials__img(src="" width="30px" height="30px" alt="Facebook")
            li.socials__item
              a.socials__reference
              span.visually-hidden VK
              img.socials__img(src="" width="30px" height="30px" alt="VK")
            li.socials__item
              a.socials__reference
              span.visually-hidden Instagram
              img.socials__img(src="" width="30px" height="30px" alt="Instagram")
  .page-footer__row
    hr.footer-hr
  .page-footer__row
    p.footer__rights OOO «Маркет» © 2021 Все права защищены



