header.page__header.header.header__wrapper
  nav.header__navigation.header-navigation
    a.header-navigation__logo.logo(href="#")
      img.logo__image
    ul.header-navigation__site-nav.site-nav
      li.site-nav__item
        a.site-nav__reference.site-nav__reference--active(href='#') Электроника
      li.site-nav__item
        a.site-nav__reference(href='#') Бытовая техника
      li.site-nav__item
        a.site-nav__reference(href='#') Музыка и видео
      li.site-nav__item
        a.site-nav__reference(href='#') Цифровые товары
      li.site-nav__item
        a.site-nav__reference(href='#') Игры и консоли
      li.site-nav__item
        a.site-nav__reference.site-nav__reference--important(href='#') Акции
    ul.header-navigation__user-nav.user-nav
      li.user-nav__item.user-nav-item
        a.user-nav-item__reference(href='#')
          img.user-nav-item__img(src="")
          span.user-nav-item__captiion Валерия
      li.user-nav__item.user-nav-item
        a.user-nav-item__reference(href='#')
          img.user-nav-item__img(src="")
          .user-nav-item__count 3
          span.user-nav-item__captiion Сравнение
      li.user-nav__item.user-nav-item
        a.user-nav-item__reference(href='#')
          img.user-nav-item__img(src="")
          .user-nav-item__count 4
          span.user-nav-item__captiion Избранное
      li.user-nav__item.user-nav-item
        a.user-nav-item__reference(href='#')
          img.user-nav-item__img(src="")
          .user-nav-item__count 2
          span.user-nav-item__captiion Корзина


