.page-catalog__breadcrumbs {
  margin-bottom: 38px;
}

.breadcrumbs__list {
  @include ul-clear;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  margin-right: 30px;
  position: relative;

  &--first {
    position: static;
  }

  &::before {
    content: "/";
    display: block;
    position: absolute;
    left: -17px;
    top: 0px;
  }
}

.breadcrumbs__ref {
  @include link-clear;
  @include inter-regular;
  font-size: 14px;
  line-height: 14px;
}

.breadcrumbs__ref--active {
  color: $dark-gray;
}
