extends layout/layout

append variables
  - var title = "Главная страница"
  - var pageClass = "index-page"
  - var userLogin = false

block content
  main.page__catalog.page-catalog.container
    h1.visually-hidden Магазин электронной техники
    include ./modules/breadcrumbs
    include ./modules/catalog
    include ./modules/pagination
    include ./modules/recently-viewed

















